#clickstreamcloud .cloud {
    margin: 25px 5px 5px 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#clickstreamcloud .cloud .tag {
    padding-left: 10px;
}

#clickstreamcloud .tag10 { font-size:18pt !important; }
#clickstreamcloud .tag9  { font-size:17pt !important; }
#clickstreamcloud .tag8  { font-size:16pt !important; }
#clickstreamcloud .tag7  { font-size:15pt !important; }
#clickstreamcloud .tag6  { font-size:14pt !important; }
#clickstreamcloud .tag5  { font-size:13pt !important; }
#clickstreamcloud .tag4  { font-size:12pt !important; }
#clickstreamcloud .tag3  { font-size:11pt !important; }
#clickstreamcloud .tag2 ,
#clickstreamcloud .tag1 ,
#clickstreamcloud .tag0  { font-size:10pt !important; }

#clickstreamcloud .new,
#clickstreamcloud .new .count {
	color: #ffffcc !important;
    font-weight: bold;
}

#clickstreamcloud .count {
    display: none;
    color: white;
}

#clickstreamcloud .show-count .count {
	display: inline;
}