.ratings .empty {
    background-image:url("../../../../../../etc/designs/default/images/collab/ratings_star_empty.png");
}

.ratings .full {
    background-image:url("../../../../../../etc/designs/default/images/collab/ratings_star_full.png");
}

.ratings-bar {
    background-repeat:repeat-x;
    height:16px;
    float:left;
}

.ratings-stars {
    width:560px; 
    height:16px;
}
.comment-body {
    float:left;
    padding-left:35px;
    width:500px;
}

.ratings-star {
    float:left;
    background-repeat:no-repeat;
    height:16px;
    width:16px;
}

.comments-count .ratings-bar.empty {
    width:80px;
}

.comments-count .ratings-bar.full {
    width:0;
}

.comment-header .ratings-stars {
    float:right;
    height:30px;
    padding-top:6px;
    margin-right:5px;
}

.comment-header .ratings-bar.empty {
    width:80px;
}

