body {
	padding-bottom: 40px;
    padding-top: 60px;
}
/* Large desktop */
@media (min-width: 1200px) {
 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

.navbar {
margin-bottom: 0px;
overflow: visible;
}
.navbar-fixed-top {
/* margin-bottom: 20px; */
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

.navbar {
margin-bottom: 0px;
overflow: visible;
}
.navbar-fixed-top {
/* margin-bottom: 20px; */
}

 }

/* Landscape phones and down */
@media (max-width: 480px) { 

.navbar {
margin-bottom: 0px;
overflow: visible;
}
.navbar-fixed-top {
/* margin-bottom: 20px; */
}
}


.navbar .nav>li>a {
float: none;
padding: 10px 15px 10px;
color: #4e4e4d;
text-decoration: none;
font-weight:bold;
text-shadow: 0px 0px #000;
}


/* set hover and focus to lightblue */
	.navbar .nav > li > a:focus,
	.navbar .nav > li > a:hover {
  color: #ffffff;
  background-color: #F17109;
  background-image: -moz-linear-gradient(top, #F17109, #AA5C1E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F17109), to(#AA5C1E));
  background-image: -webkit-linear-gradient(top, #F17109, #AA5C1E);
  background-image: linear-gradient(to bottom,#F17109,#AA5C1E);
  text-shadow: 0px;
		}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle
{
	color: #ffffff;
	background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #F17109, #AA5C1E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F17109), to(#AA5C1E));
  background-image: -webkit-linear-gradient(top, #F17109, #AA5C1E);
  background-image: linear-gradient(to bottom,#F17109,#AA5C1E);
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a
{

  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #F17109, #AA5C1E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F17109), to(#AA5C1E));
  background-image: -webkit-linear-gradient(top, #F17109, #AA5C1E);
  background-image: linear-gradient(to bottom,#F17109,#AA5C1E);

}

hr {
margin: 1px 0;
border: 0;
border-top: 1px solid #eee;
border-bottom: 1px solid #fff;
}

.btn:hover, .btn:focus {
color: #333;
text-decoration: none;
background-position: 0 -35px;
-webkit-transition: background-position .1s linear;
-moz-transition: background-position .1s linear;
-o-transition: background-position .1s linear;
transition: background-position .1s linear;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
color: #fff;
background-color: #F7730B;
}


.vdpad{padding:12% 30% 12% 30%;}
		
.pac-container {
		background-color: #FFF;
		z-index: 20;
		position: fixed;
		display: inline-block;
		float: left;
	}
.modal{
	z-index: 20;
	margin-top:130px;					
}
.modal-backdrop{
	z-index: 10;        
		}


.ratings .empty {
    background-image:url("../../../../../../etc/designs/social/rating/ratings_star_empty.png");
}

.ratings .full{
    background-image:url("../../../../../../etc/designs/social/rating/ratings_star_full.png");
}

.ratings .selected {
    background-image:url("../../../../../../etc/designs/social/rating/ratings_star_selected.png") !important;
}


.ratings-bar {
    background-repeat:repeat-x;
    height:16px;
}

.ratings-star {
    float:left;
    background-repeat:no-repeat;
    height:16px;
    width:16px;
    cursor: pointer;
}

.ratings-star-displayOnly {
    float:left;
    background-repeat:no-repeat;
    height:16px;
    width:16px;
}

.ratings-bar.empty {
    width:80px;
}

.ratings-bar.full {
    width:0;
}

.ratings-bar.empty {
    width:80px;
}

.ratings-text {
    font-size: 10px;
    color: #666666;
}
.ratings-star.selected {
    width: 16px !important;
    margin: 0px !important;
}
/*styles for country selector component*/
.customDropdown, .search input[type="text"]{margin-top: 1%;}
.customDropdown{width:175px;float:right;color:#fff;background:#79d88c url("/etc/designs/ebazzarresp/clientlibs/images/dropdown-icon.png") no-repeat 97% center;
 padding:5px 0 4px 4%; height:16px; cursor:pointer; position:relative; font-size:12px; text-transform:uppercase;z-index:1;}
.dropDownOption{width:100%; position:absolute; top:24px; right:0; background:#79d88c; border-top:1px solid #ffffff;display:none;}
.dropDownOption  ul li{list-style-type:none;display:block;padding:5px 0%;}
.dropDownOption  ul li:hover{background:#00b422; cursor:pointer;}
.dropDownOption  ul li a{text-decoration:none;color:#fff;display:block;}
.imageListing{height:17px;width:27px;margin-left:-17px;padding-right:7px;}