#cq-segment-validitystatus .cq-segment-validitystatus-unresolved {
    background-image: url('/libs/cq/ui/widgets/themes/default/icons/48x48/excl-yellow.png');
    background-position: 8px 0;
    min-height: 18px;
}

#cq-segment-validitystatus .cq-segment-validitystatus-invalid {
    background-image: url('/libs/cq/ui/widgets/themes/default/icons/48x48/excl-red.png');
}

.cq-segment-header-off {
    background: url('/libs/cq/ui/widgets/themes/default/icons/48x48/off-slider.png') no-repeat 0 15px;
}

.cq-segment-header-on {
    background: url('/libs/cq/ui/widgets/themes/default/icons/48x48/on-slider.png') no-repeat 0 15px;
}
.segmenteditor-or {
    padding:10px;
    background-color: #607084;
    color: white;
    border:1px dotted white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.segmenteditor-and {
    padding:10px;
    background-color: white;
    border: 1px dotted darkgray;
    color: #607084;
    margin-top: 5px;
    margin-bottom: 5px;
}


.segmenteditor-container-logic-text {
    width: 100%;
    margin-left: -5px;
    padding-right: 5px;
}

.segmenteditor-logic-text {
    font-weight:bold;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
}

.segmenteditor-container-content {
    padding-left:5px;
    line-height:30px;
    border: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center;
    width:90%;
    margin-left: 20px;
}
.segmenteditor-container-and-header, .segmenteditor-container-or-header {
    margin-left:-8px;
    margin-top:-10px;
    padding-bottom:5px;
}

.segmenteditor-operator {
    display: inline;
}

.trait-resolved {
    /*border: 1px dotted lightgreen;*/
    background-color: #CDF56E;
    color: #607084;
}
.trait-unresolved {
    /*border: 1px dotted red;*/
    /*background-color: #F5BD43;*/
    background-color: #D3D3D3;
    color: #607084;
}

.trait-invalid {
    background-color: #FF6347;
    color: #607084;
}

.logic-trait-resolved {
    /*color: green;*/
    /*color: #CDF56E;*/
}

.logic-trait-unresolved {
    /*color: red;*/
    /*color: #F5BD43;*/
    /*font-weight: bold;*/
}