.cq-teaser-img {
    float: left;
    width: 140px;
    height: 100px;
    margin-top: 9px;
    margin-left: 60px;
}

ul.cq-teaser-data {
    padding-left: 160px;
    min-height: 120px;
}

ul.cq-teaser-data li {
    width: 405px;
}