#CQ .cq-eclickstreamcloud-list {
    border-color:#FFFFFF rgb(255, 255, 255) rgb(238, 238, 238);
    border-style:solid;
    border-width:1px;
    color:#555555;
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding:3px 10px;
    white-space:normal;
    right:5px !important;
    top:25px !important;
    left:auto !important;
    cursor:default !important;
}
#CQ .cq-eclickstreamcloud-list-entry {
    cursor:pointer !important
}