/* the ../icons redundant path is needed to proper remapping */

/* teaser is not active */
.cq-teaser-header-off {
    background: url('../icons/48x48/teaser_inactive.png') no-repeat 0 15px;
}

/* teaser is active */
.cq-teaser-header-on {
    background: url('../icons/48x48/teaser_active.png') no-repeat 0 15px;
}

.cq-teaser-status-inactive {
    background-image: url('../../../../../ui/widgets/themes/default/icons/48x48/excl-yellow.png');
}