div.textimage div.image {
    float: left;
    margin: 0 8px 8px 0;
}
div.textimage.image_left div.image {
	 float: left !important;
    margin: 0 0 8px 8px !important;
}

div.textimage.image_right div.image {
    float: right !important;
    margin: 0 0 8px 8px !important;
}
hr.green{clear:both;height:1px;border:0;background:0;content:'';border-bottom:1px solid #84bd00;padding-top:36px;margin-bottom:48px}
hr.green.small{padding-top:3px;margin-bottom:18px}
hr.green.medium{padding-top:20px;margin-bottom:18px}
.place-left{float:left !important}
.place-right{float:right !important}
.place-none{float:none !important;margin:0}
img.imageIndentRight{float:left !important;margin-right:68px}
img.imageIndentRight35{float:left !important;margin-right:35px}
img.imageIndentTopright{margin-top:-87px}