/*
 * ***********************************************************************
 * ADOBE CONFIDENTIAL
 * ___________________
 *
 * Copyright 2011 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 * ***********************************************************************
 */

#CQ .cq-teaser-decision-thumbnail {
    max-height: 30px;
    max-width: 90px;
    padding: 4px;
    vertical-align: middle;
}

#CQ .cq-teaser-decision-nomatch {
    opacity: 0.4;
}

#CQ .cq-teaser-tooltip-tool {
    z-index: 8010;
}

#CQ .cq-teaser-segment-link, #CQ .cq-teaser-segment-link img {
    cursor: pointer;
}
